@{
  Layout = "_Layout";
}

<div class="jumbotron text-center">
  <h1 class="display-4">Welcome to the Claires Salon</h1>
  <p class="lead">The best Hair Salon with the most Wonderful Clients.</p>
  <hr class="my-4">
</div>
<p>@Html.ActionLink("Add a Stylists", "Create", "Stylists")</p> <p>@Html.ActionLink("Add a Client", "Create", "Clients")</p> 
<p>@Html.ActionLink("See all Stylists", "Index", "Stylists")</p> <p>@Html.ActionLink("See all Clients", "Index", "Clients")</p>