@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Add a new Client</h2>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.ClientName)
  @Html.TextBoxFor(model => model.ClientName)

  @Html.LabelFor(model => model.Stylist)
  @Html.DropDownList("CuisineId")
  <br>
  <input type="submit" value="Add Client" class="btn btn-primary">
}